<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        1206
    </div>
    <script>
        let giwon = 6;
        let ayoung = 6;
        if(giwon == ayoung){
            // true 일때 실행
            // alert(giwon + "과 "+ ayoung + "은 같지요~");
        }else{
            // false 일때 실행
            // alert(giwon + "과 "+ ayoung + "은 다르지요~");
        }

        // 한줄 주석
        /*
         여러줄 주석
         주석이다 히히히힛
         주석이여 헤헤헤헤헷
         주석이땅임ㅇ히헤헤
        */
        // alert( 1 + 2 +"3" + 4); 
        // 3 + "3" + 4
        // "33" + 4
        // "334"

        // alert("1" + 2 + 3 + 4 + 5);
        // "1" + 2 + 3 + 4 + 5
        // "12" + 3 + 4 + 5
        // "123" + 4 + 5
        // "1234" + 5
        // "12345"

        // alert(3 + 4 + "장아영 멍청이아님." + 8+"3");
        //7+"장아영 멍청이아님."+8+"3"
        //"7장아영 멍청이아님."+8+"3"
        //"7장아영 멍청이아님.8"+"3"
        //"7장아영 멍청이아님.83"

        // alert(1+"2"+4+8+"3"+6);
        // "12" + 4 + 8 + "3" + 6
        // "124" + 8 + "3" + 6
        // "1248" + "3" + 6
        // "12483" + 6
        // "124836"

        // alert(3 + (4 + 8)) // 15
        // alert(1+"2"+(4+8)+"3"+6);
        // 121236



        // 변수에 특정한 수가 있을 경우.
        // 짝수인지 홀수인지 판별해보자.
        // 변수 value에 특정 정수를 넣고
        // value가 짝수면 "마! 짝수다 안카나!"
        // value가 홀수면 "마! 홀수다 안카나!"
        // 를 출력하는 프로그램을 만드시오.(3점)
    </script>
</body>
</html>